@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.jumbotron {
    background: linear-gradient(45deg, #FF8A80, #FF1744);
    border-radius: 0;
    color: white;
}

.card {
    margin: 10px;
    padding: 20px 10px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.1);
    border-color: transparent;
}

.card h3 {
    font-size: 17px;
    margin: 10px 0;
    font-weight: 300;
}
.card h2 {
    margin: 20px 0;
    font-weight: bold;
}
.card p {
    width: 100%;
    color: whitesmoke;
    margin: 5px auto;
    font-weight: bold;
}

.distances {
    background-color: #FF8A80;
    color: white;
}

.projectile-data {
    padding: 0 10px;
}
.projectile-data .col-sm-4 {
    padding: 0;
}
.projectile-data .form-row {
    padding: 0 10px;
}
.projectile-data h2 {
    font-size: 20px;
}
.projectile-data input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: block;
    width: 40px;
    transition: 0.2s ease-in-out;
    text-align: center;
    padding: 3px 0;
    margin: 0 auto;
}
.projectile-data input:focus, .projectile-data select:focus {
    outline: none;
    color: #FF8A80;
    border-color: #FF8A80;
}
.projectile-data label {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: grey;
}
.projectile-data .form-group {
    display: block;
    text-align: center;
}
.projectile-data select {
    width: 90%;
    margin: 10px auto;
    margin-top: 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 2px 10px;
}

.buttons {
    margin: 20px 0;
}
.buttons button {
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #FF8A80;
    color: #FF8A80;
    border-radius: 5px;
    padding: 5px 0;
    transition: 0.2s ease-in-out;
    width: 90%;
    margin: 5px auto;
}
.buttons button.cta, .buttons button:hover {
    color: white;
    background-color: #FF8A80;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.1);
}

.buttons button.inactive {
    background-color: lightgrey;
    border-color: lightgrey;
    box-shadow: none;
}
