<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Coilgun</title>
        <script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/lib/jquery.animate-colors.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Coilgun User Interface</h1>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <div class="distances card text-center" id="distance-container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Predicted Distance</h3>
                            <h2 id="predicted-distance">---</h2>
                        </div>
                        <div class="col-sm-6">
                            <h3>Target Distance</h3>
                            <h2 id="target-distance">---</h2>
                        </div>
                    </div>
                    <div class="row">
                        <p id="distance-evaluation">Enter launch data</p>
                    </div>
                </div>
                <div class="row buttons">
                    <button class="launch cta inactive" id="trigger">Launch</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card projectile-data text-center">
                    <h2>Launch Data</h2>
                    <select id="profile-select">
                        <option value="" selected disabled>Select Saved</option>
                        {% for projectile in data_profiles %}
                            <option value="projectile-{{projectile[0]}}">{{projectile[6]}}</option>
                        {% endfor %}
                    </select>
                    <div id="hidden-data" style="display: none">
                        {% for projectile in data_profiles %}
                            <div id="projectile-{{projectile[0]}}">
                                <input type="hidden" class="projectile-area" value="{{projectile[1]}}">
                                <input type="hidden" class="projectile-mass" value="{{projectile[2]}}">
                                <input type="hidden" class="fluid-density" value="{{projectile[3]}}">
                                <input type="hidden" class="drag-constant" value="{{projectile[4]}}">
                                <input type="hidden" class="initial-velocity" value="{{projectile[5]}}">
                                <input type="hidden" class="name" value="{{projectile[6]}}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row form-row">
                        <div class="col-sm-4">
                            <div class="form-group" id="area">
                                <label for="projectile-area">A <i class="fas fa-question-circle"></i></label>
                                <input type="number" id="projectile-area">
                                <div class="info">Cross-sectional area of projectile (m<sup>2</sup>)</div>
                            </div>
                            <div class="form-group" id="mass">
                                <label for="projectile-mass">m <i class="fas fa-question-circle"></i></label>
                                <input type="number" id="projectile-mass">
                                <div class="info">Mass of projectile (kg)</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="density">
                                <label for="fluid-density">ρ <i class="fas fa-question-circle"></i></label>
                                <input type="number" value="1.225" id="fluid-density"> <!-- Default value is density of air at sea level, 288K -->
                                <div class="info">Density of fluid projectile is travelling through (kg/m<sup>3</sup>)</div>
                            </div>
                            <div class="form-group" id="velocity">
                                <label for="initial-velocity">v<sub>0</sub> <i class="fas fa-question-circle"></i></label>
                                <input type="number" id="initial-velocity">
                                <div class="info">Velocity of projectile once it is launched (m/s)</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="constant">
                                <label for="drag-constant">C<sub>d</sub> <i class="fas fa-question-circle"></i></label>
                                <input type="number" id="drag-constant">
                                <div class="info">Drag constant of projectile, specific to its shape and material</div>
                            </div>
                        </div>
                    </div>
                    <div class="row buttons">
                        <button type="button" class="cta" id="get-distance">Predict Distance</button>
                        <button type="button" id="save-data">Save Data</button>
                        <div id="name" style="display: none">
                            <input type="text" id="name-input" placeholder="Profile name">
                            <button id="submit"><i class="fas fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <script src="/static/js/lib/sockets.js"></script>
        <script src="/static/js/coilgun.js"></script>
    </body>
</html>
